body{
  margin: 0;
  background-color: white;
}

.header{
width: 100%;
height: 5%;
text-align: center;
}

.querys{
width: 100%;
height: 6%;
padding-top: 10px;
border-top: 3px solid black;
border-bottom: 3px solid black;
}

.entity_search{
  margin-left: 40%;
  padding-right: 10px;
  float: left;
}

.recipe_search{
display: block;
}

.kunde_search{
display: none;
}

.zutat_search{
  display: none;
}

.bestellung_search{
  display: none;
}

.recipe_zutat_search{
  display: none;
}

.lieferant_search{
  display: none;
}

.search_bar{
padding-top: 10px;
text-align: center;
}

.sql_table{
width: 100%;
height: 89%;
text-align: center;
}

.sql_table tr td, th{
	border: 1px solid black;
	margin : 0px
}
